.home {
  margin: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  align-content:space-between;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  font-size:40px;
  color: white;
  background-color: #0a192f;
  font-family:monospace;
}


.line-5 {
  position: fixed;
  border-left: 4px solid #8892b0;
  height: 150px;
  margin-top: 33%;
  margin-left: 94%;
}

.buttons-container {
  margin-top: 18%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  height: 30vh;
  font-size: 10px;
  flex-wrap: wrap;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
  color: white;
}
.facebook:hover {
  background: #3b5998;
}
.twitter:hover {
  background: #1da1f2;
}
.instagram:hover {
  background: linear-gradient(135deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.github:hover {
  background: white;
  color: black;
}



/*///////// react chat-bot design ///////////*/

.chatbot-button{
  position:relative;
  margin-top: 0%;
  margin-bottom: 10%;
  background-color: #0a192f;
  border-color: #64ffda;
  padding:5px;
  font-size:20px;
  color:#64ffda;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  letter-spacing:2px;
}

.chatbot-button .fa{
  padding-left: 10px;
}

.chatbot-button:hover{
  background-color: rgba(145, 137, 137, 0.5);
}



.react-chatbot-kit-chat-container { 
  width: 100% !important;
  height: 90% !important;
}

.react-chatbot-kit-chat-header {
  background-color:#0ca4a5!important;
  color: white !important; 
}


.react-chatbot-kit-chat-bot-message{
  background-color: #f73e29;
}

.react-chatbot-kit-chat-bot-message {
  width: 80% !important;
  margin-left: 2px !important;
}

.react-chatbot-kit-chat-inner-container {
  min-width: 100%;
  min-height: 100%;
}

.react-chatbot-kit-chat-message-container {
  min-width: 100%;
  min-height: 85%;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}


/*////////////////////////////////////////////////*/

.intro {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  text-align: left;
}

.intro .info{
  margin-top: 6%;
  margin-left: 20%;
    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both 
}

.intro .info h1{
  font-weight: 600;
  font-size: 90px;
  color: #ccd6f6;
}

.intro .info h4{
  font-size: 50px;
  color: #a8b2d1;
}


.intro .info p{
  margin-top: 0.5em;
  font-size: 25px;
  color:#8892b0; 
}

.green{
  font-size: 20px;
  color:#64ffda;
}

  
@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pop-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes slide-up{
0%{
  transform: translateY(60vh)
}
100%{
  transform: translateY(0)
}}


@media only screen and (max-width: 1100px) {
  .home{
    overflow-y: auto;
  }
  .intro .info{
    font-family:serif;
  }
  .image img{
    display: none; 
   }
  
   .image{
     height: auto;
   }
}

@media only screen and (max-width: 500px) {
  .home{
    flex-direction: column;
  }

  .buttons-container{
    display: none;
  }

  .line-5{
    display: none;
  }

 .intro{
   margin-top: 20%;
   max-width: 100%;
   width: 100%;
   height: auto;
 }

 .intro .info{
   margin-top: 8%;
  margin-left: 8%;
   animation: pop-in 1s ease both;
 }

 .intro .info h1{
   font-size: 40px;
 }

 .intro .info h4{
   font-size: 25px;
 }

 .intro .info p{
   font-size: 14px;
 }

 .circle{
   display: none;
 }
}
