.home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  align-content:space-between;
  max-width: 100%;
  width: 100%;
  height: auto;
  font-size:xx-large;
    color: white;
}

.speeddial {
  max-width: 20%;
  width: 20%;
  height: auto;
  /* display: inline-block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0; */
}

.speed-dial{
  margin-top: 35% ;
  display: inline-block;
}

.intro {
  max-width: 50%;
  width: 50%;
  height: auto;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  text-align: left;
}

.intro .info{
  margin-top: 25%;
  background: #00FF00;
background: -webkit-linear-gradient(to left, #00FF00 11%, #24869E 69%);
background: -moz-linear-gradient(to left, #00FF00 11%, #24869E 69%);
background: linear-gradient(to left, #00FF00 11%, #24869E 69%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both 
}


.image {
  max-width: 30%;
  width: 30%;
  margin-right: -120px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.image img{
  margin-top: 80%;
}


.speed-dial a,
  .speed-dial a:hover,
  .speed-dial a:active,
  .speed-dial a:visited,
  .speed-dial a:focus {
    color: #fafafa;
    display: inline-block;
    text-decoration: none;
  }
  .speed-dial .toggle {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    line-height: 75px;
    margin: 8px 0;
  }
  .speed-dial:hover .dials a {
    animation: pop-in 0.3s ease both;
  }
  .speed-dial .dials {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .speed-dial .dials a {
    display: inline-block;
    flex-direction: column;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    margin: 8px 0;
    transform: scale(0);
    animation: pop-out 0.3s ease both;
  }
  .speed-dial .dials a.pop-in {
    animation: pop-in 0.3s ease both;
  }
  .speed-dial .dials li:nth-child(0) a {
    animation-delay: 0s;
  }
  .speed-dial .dials li:nth-child(1) a {
    animation-delay: 0.1s;
  }
  .speed-dial .dials li:nth-child(2) a {
    animation-delay: 0.2s;
  }
  .speed-dial .dials li:nth-child(3) a {
    animation-delay: 0.3s;
  }
  .speed-dial .dials li:nth-child(4) a {
    animation-delay: 0.4s;
  }
  .speed-dial .dials li:nth-child(5) a {
    animation-delay: 0.5s;
  }
  .speed-dial .dials li:nth-child(6) a {
    animation-delay: 0.6s;
  }
  
  .bg-bars {
    background-color: #15b897;
  }
  
  .bg-user {
    background-color: #2daae2;
  }
  
  .bg-code {
    background-color: #3c5b9b;
  }
  
  .bg-contact {
    background-color: #f73e29;
  }

  
@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pop-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes slide-up{
0%{
  transform: translateY(60vh)
}
100%{
  transform: translateY(0)
}}


@media only screen and (max-width: 1100px) {
  .image img{
    display: none; 
   }
  
   .image{
     height: auto;
   }
}

@media only screen and (max-width: 900px) {
 .intro{
   font-size: 16px;
 } 

 .speed-dial{
   margin-top: 2%;
 }
}

@media only screen and (max-width: 500px) {
  .home{
    flex-direction: column;
  }
 .image img{
   margin-top: 10%;
  display:block; 
 }

 .image{
   max-width: 100%;
   width: 100%;
   height: 60vh;
 }

 .speeddial{
   max-width: 100%;
   width: 100%;
 }

 .speed-dial{
   margin-top: 10%;
   display: flex;
    flex-direction: row;
    padding: 8px;
 }

 .speed-dial .dials{
   width:220px;
  display: flex;
   flex-direction: row;
 }

 .speed-dial .dials a{
   margin: 20px;
   display: block;
 }


 .intro{
   margin-left: 8%;
   max-width: 100%;
   width: 100%;
   height: auto;
   font-size: 24px;
 }

 .intro .info{
   animation: pop-in 1s ease both;
 }

 .intro p{
   font-size: 16px;
 }

 .circle{
   display: none;
 }
}
