*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

body{
    margin-top: 0%;
    background-color: rgb(31, 20, 20);
}

.circle {
    width: 1px;
    height: 1px;
    border-radius: 500%;
    border: 3px dotted #000;
    position: absolute;
    pointer-events:none;
  }