header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: #0a192f;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-family: monospace;
  }
  
  .title{
      width: 40px;
      height: 40px;
      padding: 10%;
      border:3px solid #64ffda;
      color: #64ffda;
      border-radius: 50%;
  }

  .menu{
      margin-right: 5%;
  }

  .menu span{
      color: #64ffda;
  }


  #brand {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 2%;
  }
  
  #brand a {
    color: #64ffda;
    padding: 3%;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: #a8b2d1;
    margin-right: 20px;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }

  ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  ul li a:hover {
    color:#64ffda;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    width: 100%;
    opacity: 1 !important;
    background-color: black;
  }
  
  .mobile-menu li {
      margin-left: 0%;
      background-color: #64ffda;
      width: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }
  